.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-columns: auto 85%;
    grid-template-areas: 
    'header header' 
    'sidebar main' 
    'footer footer';

}

.grid-item {
    background-color: aqua;
    border: solid 1px black;
    }

    .grid-item img{
        max-width: 100%;

    }

.grid-container1{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-items: center;
    align-items: center;
    max-height: 100%;
}

.box{
    border: solid 1px black;
    margin: 2px;
}