
/**LAYOUT**/
.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/**navbar**/
.header{
padding: 1%;
background-color: black;
text-align: center;
min-width: 100%;
}

/**SIDEBAR**/
.categorie{
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10%;
}

a{
    text-decoration: none;
}

.flex-container P{
    margin: 0;
    padding-bottom: 3px;
}

/**MAIN CONTENT**/
.grid-container {
  display: grid;
  grid-template-columns: auto 85%;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.grid-item {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  border: solid 1px black;
  place-items: center;
}

.grid-item img {
  max-width: 100%;
}

.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  max-height: 100%;
}

.box {
  border: solid 1px black;
  margin: 2px;
}

button {
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.btn{
    width: 100%;
    margin: 0;
}

button:hover, a:hover {
    opacity: 0.7;
  }

  /**FOOTER**/
.social{
    text-align: center;
    padding: 1%;
}

  .social img{
      width: 3%;
  }

.footer-container{
    text-align: center;
}

  .footer-container a{
      padding: 1%;
  }
